@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  var backgroundImage = Text.Has(Header.Background)
    ? "background-image: url(" + Link.Image(Header.Background, Settings.Images.Section) + ");"
    : "";
  var facts = AsList(Data);
  var counterJsAttribute = "app-counter2-js-" + CmsContext.Module.Id;

  var factToolbar = Kit.Toolbar.Default().Layout("-");

  var headerToolbar = Kit.Toolbar.Default().Settings(hover: "left", autoAddMore: "start");
  var textWhite = (Header.TextColor ? "text-white" : "");


}

<div class="app-counter2" @Edit.TagToolbar(Header)>
@if(Text.Has(Header.Title) && Header.HideTitle != true) {
    <h2 class="text-center mb-3 mb-lg-4 @textWhite">@Header.Title</h2>
  }
  <div class="app-counter2-wrapper @(Text.Has(Header.Background) ? "container" : " ")">
    <div class="row justify-content-center">
      @* Show Facts*@
      @foreach (var fact in facts) {
        <div class="col-md-6 col-lg-3" @factToolbar.For(fact)>
          <div class="p-2 p-lg-3 bg-primary rounded @textWhite text-center h-100">
            <i class="co-icon fas @fact.Icon fa-3x textWhite mb-2" aria-hidden="true"></i>
            <div class="h2 @textWhite">
              <span class="@counterJsAttribute h2 @textWhite" data-count="@fact.Number"></span>@(Text.Has(fact.Unit) ? " " + fact.Unit : "")
            </div>
            <span>@fact.Title</span>
          </div>
        </div>
      }
      @* Show Placeholder for admins in case no facts exist *@
      @if (!facts.Any() && Edit.Enabled) {
        <div>hello</div>
      }
    </div>
  </div>
</div>

@if(Text.Has(Header.Background)) {
  <img loading="lazy" class="d-flex bg-img" src='@Link.Image(Header.Background, Settings.Images.Section)'>
}

@Html.Partial("Facts.PartAssets.cshtml", new { counterJsAttribute })

@if(Text.Has(Header.Background)) {
  <style>
  #module-@CmsContext.Module.Id {
    position:relative;
    min-height: 50vh;
    display: flex;
    align-items: center;
  }
  #module-@CmsContext.Module.Id > .container {
    max-width:100%!important;
    padding:0px!important;
  }
  #module-@CmsContext.Module.Id img.bg-img {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit: cover;
  }
  </style>
}