@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@using AppCode.Data
@{
  var facts = AsList<Facts>(MyItems);
  var header = As<FactGroup>(MyHeader);

  var counterJsAttribute = "app-counter2-js-" + UniqueKey;
  var factToolbar = Kit.Toolbar.Default().Layout("-");
  var headerToolbar = Kit.Toolbar.Default().Settings(hover: "left", autoAddMore: "start");
  var backgroundImage = header.IsNotEmpty("Background")
  ? "background-image: url(" + Link.Image(header.Background, AllSettings.String("Images.Section")) + ");"
  : "";
  var textWhite = (header.TextColor ? "text-white" : "");
}


<div class='app-counter2 @(header.IsNotEmpty("Background") ? "app-counter2-has-background py-4" : "")' @Kit.Toolbar.Default(header)>
  @if (header.IsNotEmpty("Title") && header.HideTitle != true) {
    <h2 class="text-center mb-3 mb-lg-4 @textWhite">@header.Title</h2>
  }
  <div class='app-counter2-wrapper @(header.IsNotEmpty("Background") ? "container" : " ")'>
    <div class="row justify-content-center">
      @foreach (var fact in facts) {
        <div class="col-md-6 col-lg-3" @factToolbar.For(fact)>
          <div class="p-2 p-lg-3 bg-primary rounded @textWhite text-center h-100">
            <i class='co-icon fas @fact.Icon fa-3x @textWhite mb-2' aria-hidden="true"></i>
            <div class="h2 @textWhite">
              <span class='@counterJsAttribute h2 @textWhite' data-count='@fact.Number'></span>@(fact.IsNotEmpty("Unit") ? " " + fact.Unit : "")
            </div>
            <span>@fact.Title</span>
          </div>
        </div>
      }
    </div>
  </div>

  @if (header.IsNotEmpty("Background")) {
    <img loading="lazy" class="d-flex bg-img" src='@Link.Image(header.Background, AllSettings.String("Images.Section"))'>
  }  
</div>



@Html.Partial("Assets.cshtml", new { counterJsAttribute })
