@using Connect.Koi

@if(Permissions.UserMayEditContent)
{
    <div style="display:block;margin-bottom:30px;" >
       <span>Hintergrundbild bearbeiten: @ListContent.Toolbar</span>
       </div>
}

<div class="container-outer @(!String.IsNullOrEmpty(ListContent.Background) ? "co-counter-background co-counter" : "co-counter" )" style="@(!String.IsNullOrEmpty(ListContent.Background) ? ("background-image: url(" + @ListContent.Background.Replace(" ", "%20") + "?w=1600&quality=60&scale=both&mode=crop)") : "" )">
    <div class="container-inner">
        <div class="co-counter-wrapper">
            <div class="row">
                @foreach (var e in List) {
                    <div  @Koi.Class("all='sc-element co-counter-col', bs3='col-xs-12 col-sm-6 col-md-3' bs4,oth='col-12 col-sm-6 col-md-3'")>
                        <div class="co-counter-item">
                                @Edit.Toolbar(e.Content)
                                <i class="co-icon fas @e.Content.Icon fa-3x" aria-hidden="true"></i>
                                <h2><span class="counter" data-count="@e.Content.Zahl.ToString()"></span>@Html.Raw(((!String.IsNullOrEmpty(e.Content.Einheit)) ? "&nbsp;" + e.Content.Einheit : ""))</h2>
                                <span>@e.Content.Titel</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<link rel="stylesheet" href="@App.Path/dist/@(Koi.PickCss("bs3,bs4", "bs4")).css" data-enableoptimizations="true" />
<script type="text/javascript" src="@App.Path/dist/scripts.js" data-enableoptimizations="true"></script>

@if(!Koi.Is("bs3,bs4")) 
{
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" data-enableoptimizations="true" />
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous" data-enableoptimizations="true" ></script>
}

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" data-enableoptimizations="true" ></script>

