@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
    // 2. Include Bootstrap4 if the framework isn't known
    if (Kit.Css.IsUnknown) {
        Kit.Page.Activate("Bootstrap4");
    }
    
    // Activate font-Awesome 5 from the global resources and activate https://r.2sxc.org/turnon
    Kit.Page.Activate("FontAwesome5", "turnOn");
}

@* show warning for admin if koi.json is missing *@
@if (Kit.Css.IsUnknown && CmsContext.User.IsSiteAdmin) {
  <div class='dnnFormMessage dnnFormWarning'>
    @Html.Raw(Connect.Koi.Messages.CssInformationMissing) <br>
    @Html.Raw(Connect.Koi.Messages.OnlyAdminsSeeThis)
  </div>
}

<turnOn turn-on='{ "run": "window.appCounter2.init()", "data": { "domId": "@DynamicModel.DomId" }}'></turnOn>
<script src="@App.Path/bs4/dist/scripts.min.js" @Kit.Page.AssetAttributes()></script>
<link rel="stylesheet" href="@App.Path/bs4/dist/styles.min.css" @Kit.Page.AssetAttributes()/>